body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #FFF;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: repeat-y;
}
/*
@media (max-width: 767px){
    body {
        background-size: 100% auto;
    }
}*/

/* Navbar */

#navbar {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 99999;
    width: 100%;

    }
    
    .flags-pay {
      width: 250px;
    }
  }


  @media screen and (max-width: 525px) {
  
    .div-yt {
        margin-left: 15px;
        margin-right: 15px;
    }
  
    .video-paused-btn img {
        width: 100px !important;
        height: 100px !important;
    }
  
    .continue-text,
    .play-text {
        font-size: 14px;
    }
    
    .flags-pay {
      width: 250px;

    }
  }

@media (max-width: 768px) {
  .video-player {
    width: 100%;
    background: 0 0;
  }
  .video-player iframe {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
  #frame {
    width: 100%;
    height: 100%;
    top: 0;
    margin: auto;
  }
}

* {
  font-family: helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
}

.fb-comments {
  border: 1px solid #e9ebee;
  border-radius: 3px;
  padding: 0 15px;
  padding-bottom: 15px;
  margin: auto;
  position: relative;
  color: #4267b2;
}

.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #e9ebee;
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}

.fb-comments-comment {
  border: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee;
  padding-left: 5px;
}

/*thiago finch comentario*/

}

.c-content {
  margin: 0px 0px 30px 0px;
}

.resposta {
  margin-top: -10px;
  margin-left: 40px;
  padding: 0px 0px 0px 10px;
  border-left: solid 1px #dcdcdc;
}

.resposta-c {
  margin-bottom: 10px;
}

/*thiago finch comentario*/

tr,
td {
  border: none;
  margin: 0;
}

td {
  padding: 2.5px;
}

tr {
  padding: 2.5px 0;
}

.fb-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 5px;
}

.fb-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;
}

.fb-comments-comment-name {
  font-size: 0.85em;
}

.fb-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-name name:hover {
  text-decoration: underline;
}

.fb-comments-comment-name occupation {
  color: #90949c;
}

.fb-comments-comment-text {
  font-size: 0.9em;
  color: #000;
  border-radius: 21px;
  background-color: #eaebef;
  padding: 10px 20px;
}

.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
  font-size: 0.75em;
  color: #4267b2;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions like.liked {
  color: #90949c;
}

.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
  text-decoration: underline;
}

.fb-comments-comment-actions likes {
  font-size: 13px;
  background: url(../images/likes.png);
  background-repeat: no-repeat;
  padding-left: 43px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: -10px;
  float: right;
  background-color: #fff;
  border: solid #eaebef;
  border-radius: 19px;
}

.fb-comments-comment-actions date {
  font-size: 0.75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions date:hover {
  text-decoration: underline;
}

.fb-comments-loadmore {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 0.875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
}

.fb-reply-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 5px 7.5px;
  font-size: 0.75em;
  color: #000;
  outline: none;
}

.fb-reply-input:hover,
.fb-reply-button:hover {
  outline: none;
}

.fb-reply-button {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.75em;
  padding: 5px 7.5px;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
  outline: none;
}

.bbtn {
  width: 100%;
  max-width: 449px;
}

/*RESPOSTA DE COMENTÁRIOS*/

}

.resposta-comments-comment-name {
  font-size: 0.85em;
}

.resposta-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand;
  padding: 10px 5px;
}

.resposta-comments-comment-name name:hover {
  text-decoration: underline;
}

.resposta-comments-comment-name occupation {
  color: #90949c;
}

.resposta-comment-text {
  font-size: 0.9em;
  color: #000;
  border-radius: 21px;
  background-color: #eaebef;
  padding: 10px 20px;
}

.resposta-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 100px;


 
}

.resposta-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;



}

/*TERMINA AQUI*/

@media (max-width: 768px) {
  .video-player {
    margin-top: 0 !important;
  }
}

.a-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0; 
      font: inherit; 
      vertical-align: baseline;
      color: #33DC60; 
      outline: 0; 
      line-height: 1; 
      text-align: center; 
      position:relative!important; display: inline-block!important;
      border-style: solid; 
      width: 100%; padding-left: 0!important; padding-right: 0!important; 
      margin-bottom: 10px; 
      padding: 22px 44px; border-color: #33DC60; border-width: 0px; 
      border-radius: 6px; 
      background: linear-gradient(to bottom, #33DC60 0%, #33DC60 100%); 
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
      text-decoration: none!important;
    }
    .span-btn {
      text-decoration: none;
      -webkit-font-smoothing: antialiased; 
      text-align: center;
      margin: 0; 
      border: 0; 
      font: inherit;
      vertical-align: baseline;
      display: block; 
      position: relative; 
      z-index: 1; 
      padding: 0 15px; 
      white-space: normal; 
      font-size: 25px;
      color: #ffffff; 
      font-family: Oswald; 
      font-weight: bold; 
      text-shadow: #000000 0px 1px 0px;
      text-decoration: none;
    }

/* FOOTER */

.pirataria h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
}

.pirataria b{
    color: #ff0000;
}

.pirataria {
    font-size: 12px;
    text-align: justify;
}

footer {
    background-color: #070A18;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.cpy {
    font-size: 12px;
    margin: 37px 0px 20px 0px;
}

.links a {
    font-size: 12px;
    color: #666666;
}

#iframe_video {
    width: 640px;
    height: 360px;
}

.yellow {
    color: #FFC400;
}

.hero {
    min-height: 0vh;
    text-align: center;
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: height 1s;
        background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 250px;
}

.ultrasecreto {
    margin:20px;
    max-width: 90%;
}

.headli {
    margin:10px;
    max-width: 90%;

}

.copyright {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 106.69%;
  margin-bottom: 10px;
}

/* RESPONSIVO */

@media only screen and (max-width: 480px){

    .pirataria {
        padding-bottom: 30px;
        -moz-text-align-last: center;
text-align-last: center;
    }

    h1 {
        font-size: 26px;
        font-weight: 800;
        letter-spacing: 0px;
    }

    .count-c, .face-c {
        padding-left:10px;
    }

    #c-container {
        padding: 20px;
        border-radius: 5px;
    }

    .hero {
        height: auto; 
        padding: 10px;
        background-position: bottom left !important;
    background-size: 425%;
    background-position-x: -130px !important;
    }

    .button_container {
        margin-left: 0px;
        margin-right: 0px;

}

    .btn {
        height: auto;
    }

    #navbar {
        font-size: 13px;
    }

    .som {
        font-size: 11px;
    }

    .som img { 
        width: 20px;
    }

    .bandeiras {
        padding: 0px;

    }

    .bandeiras li { 
        margin: 2px;
    }

    .ultrasecreto {
        margin-top: 75px;

    } 

    .headli {
        margin-top: 10px;
        max-width: 95%;

    } 

    .hero {
        background-position-y: -150px !important;
        background-position-x: -60px !important;
    }

    
    .c-section {
        margin: 0px 10px 0px 10px;
    }

    #iframe_video {
        width: 100% !important;
        height: 192px !important;
    }

}







